@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://apigoswirl.com/short_video/v10/multiple_page_pip/star.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css');

#swirl-short-videos *,
.swirl-short-videos *,
#swirl-short-videos input,
.swirl-short-videos input,
#swirl-short-videos :before,
.swirl-short-videos :before,
#swirl-short-videos :after,
.swirl-short-videos :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#swirl-short-videos,
.swirl-short-videos {
    margin: 0 auto;
    width: 100%;
    color: #323232;
}

#swirl-short-videos *,
.swirl-short-videos * {
    font-family: 'Muli', sans-serif !important;
    -webkit-tap-highlight-color: transparent;
}

.swirl-short-videos p,
.swirl-short-videos section,
.swirl-short-videos label,
.swirl-short-videos button {
    line-height: normal !important;
    letter-spacing: normal !important;
}

#swirl-short-videos input,
#swirl-short-videos textarea,
.swirl-short-videos input,
.swirl-short-videos textarea {
    color: #323232 !important;
    text-align: left !important;
}

#swirl-short-videos button,
.swirl-short-videos button {
    cursor: pointer !important;
    text-transform: none !important;
    font-weight: normal !important;
    min-height: inherit;
    text-align: center !important;
}

#swirl-short-videos button:hover,
.swirl-short-videos button:hover {
    background: inherit !important;
    border: inherit !important;
    color: inherit !important;
}

#swirl-short-videos a,
.swirl-short-videos a {
    text-decoration: none !important;
    cursor: pointer !important;
}

#swirl-short-videos form,
.swirl-short-videos form {
    margin: 0 !important;
}

/* custom CSS */
.swiper-ssv-c {
    height: 100%;
    width: auto;
}

.swiper-ssv-c .swiper-slide {
    position: relative;
    -webkit-box-shadow: rgb(35 35 35 / 30%) 1px 1px 5px 1px;
    -moz-box-shadow: rgb(35 35 35 / 30%) 1px 1px 5px 1px;
    box-shadow: rgb(35 35 35 / 30%) 1px 1px 5px 1px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.swiper-ssv-c .swiper-button-next,
.swiper-ssv-c .swiper-button-prev {
    width: 36px;
    height: 36px;
    background-image: none !important;
}

.carousel-video-ssv {
    display: block;
    width: 100%;
    margin: 0 !important;
    margin-bottom: 160px !important;
}

.carousel-video-play-ssv {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 20px);
    width: 40px !important;
    height: 40px !important;
    background: rgb(0, 0, 0, 0.5);
    border-radius: 50% !important;
    margin: 0 !important;
    margin-bottom: 120px !important;
}

.swiper-button-disabled {
    display: none !important;
}

.video-modal-ssv {
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 121100;
    text-align: center;
}

.video-modal-container-ssv {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
}

.video-modal-container-ssv video {
    height: auto;
    width: 100%;
    display: block;
    object-fit: cover;
}

.swiper-ssv-m {
    height: 100%;
    width: 100%;
}

.video-modal-video-container-ssv {
    height: auto;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    /* overflow: hidden; */
    position: relative;
    background: #000000;
}

.swiper-ssv-m .swiper-button-next,
.swiper-ssv-m .swiper-button-prev {
    width: 50px;
    height: 50px;
    background-image: none !important;
    /* display: none !important; */
}

.swiper-ssv-m .swiper-button-prev {
    left: 25px;
}

.swiper-ssv-m .swiper-button-next {
    right: 25px;
}

.swiper-ssv-m .swiper-button-next img,
.swiper-ssv-m .swiper-button-prev img {
    filter: invert(1);
    width: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none !important;
}

.video-modal-volume-ssv {
    /* position: absolute;
    bottom: 205px;
    right: 15px; */
    display: block !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 30px !important;
    outline: none !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: rgb(0, 0, 0, .6) !important; */
}

.video-modal-volume-ssv img {
    margin: 0 auto !important;
    width: 90% !important;
    display: block !important;
}

.video-modal-volume-ssv p {
    /* margin: 0 !important;
    color: #fff !important;
    font-size: 9px !important;    
    width: 100%;
    text-align: center !important;
    float: left;
    display: inline-block;
    margin-bottom: -30px !important;
    margin-top: 10px !important; */

    display: none !important;
}

.video-modal-close-ssv {
    /* position: absolute;
    top: 10px;
    right: 15px; */
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: rgb(0, 0, 0, .6) !important; */
}

.video-modal-close-ssv img {
    margin: 0 auto !important;
    width: 100% !important;
    display: block !important;
}

.video-modal-pip-ssv {
    /* position: absolute;
    top: 10px;
    right: 55px; */
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: rgb(0, 0, 0, .6) !important; */
}

.video-modal-pip-ssv img {
    margin: 0 auto !important;
    width: 80% !important;
    display: block !important;
}

.video-modal-share-ssv {
    /* position: absolute;
    bottom: 140px;
    right: 15px; */
    display: block !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 0px !important;
    outline: none !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: rgb(0, 0, 0, .6) !important; */
}

.video-modal-share-ssv img {
    margin: 0 auto !important;
    width: 90% !important;
    display: block !important;
}

.video-modal-share-ssv p {
    /* margin: 0 !important;
    color: #fff !important;
    font-size: 9px !important;    
    width: 100%;
    text-align: center !important;
    float: left;
    display: inline-block;
    margin-bottom: -30px !important;
    margin-top: 10px !important; */

    display: none !important;
}

.video-modal-like-ssv {
    /* position: absolute;
    bottom: 335px;
    right: 15px; */
    display: block !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 30px !important;
    outline: none !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: rgb(0, 0, 0, .6) !important; */
}

.video-modal-like-ssv img {
    margin: 0 auto !important;
    width: 90% !important;
    display: block !important;
}

.video-modal-like-ssv p {
    /* margin: 0 !important;
    color: #fff !important;
    font-size: 9px !important;    
    width: 100%;
    text-align: center !important;
    float: left;
    display: inline-block;
    margin-bottom: -30px !important;
    margin-top: 10px !important; */

    display: none !important;
}

.video-modal-download-ssv {
    /* position: absolute;
    bottom: 270px;
    right: 15px; */
    display: block !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 30px !important;
    outline: none !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: rgb(0, 0, 0, .6) !important; */
}

.video-modal-download-ssv img {
    margin: 0 auto !important;
    width: 100% !important;
    display: block !important;
}

.video-modal-download-ssv p {
    /* margin: 0 !important;
    color: #fff !important;
    font-size: 7px !important;    
    width: 100%;
    text-align: center !important;
    float: left;
    display: inline-block;
    margin-bottom: -30px !important;
    margin-top: 5px !important; */

    display: none !important;
}

.video-modal-askque-ssv {
    /* position: absolute;
    bottom: 270px;
    right: 15px; */
    display: block !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 30px !important;
    outline: none !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: rgb(0, 0, 0, .6) !important; */
}

.video-modal-askque-ssv img {
    margin: 0 auto !important;
    width: 90% !important;
    display: block !important;
}

.video-modal-askque-ssv p {
    /* margin: 0 !important;
    color: #fff !important;
    font-size: 7px !important;    
    width: 100%;
    text-align: center !important;
    float: left;
    display: inline-block;
    margin-bottom: -30px !important;
    margin-top: 5px !important; */

    display: none !important;
}

.video-modal-fullscreen-ssv {
    /* position: absolute;
    top: 10px;
    left: 15px; */
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: rgb(0, 0, 0, .6) !important; */
}

.video-modal-fullscreen-ssv img {
    margin: 0 auto !important;
    width: 85% !important;
    display: block !important;
}

.video-modal-product-block-ssv {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(100%);
    text-align: left;
    background: #fff;
    transition: transform .5s;
    overflow: hidden;
    z-index: 2;
}

.product-top-pb-ssv {
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    position: relative;
    display: none !important;
}

.product-middle-pb-ssv {
    height: calc(100% - 65px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.video-modal-product-block-product-multi-ssv .product-middle-pb-ssv {
    height: calc(100% - 105px);
}

/* .product-middle-pb-ssv::-webkit-scrollbar {
    display: none;
} */

/* width */
.product-middle-pb-ssv::-webkit-scrollbar,
.vmp-tab-content-ssv.scroll-ssv::-webkit-scrollbar,
.product-rating-all-comments-ssv::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
}

/* Track */
.product-middle-pb-ssv::-webkit-scrollbar-track,
.vmp-tab-content-ssv.scroll-ssv::-webkit-scrollbar-track,
.product-rating-all-comments-ssv::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.product-middle-pb-ssv::-webkit-scrollbar-thumb,
.vmp-tab-content-ssv.scroll-ssv::-webkit-scrollbar-thumb,
.product-rating-all-comments-ssv::-webkit-scrollbar-thumb {
    background: #c7c7c7;
}

.product-bottom-pb-ssv {
    border-top: 1px solid #eee;
    padding: 10px 12px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
}

.video-modal-pb-close-ssv {
    height: 20px;
    display: block;
    cursor: pointer;
}

.product-detail-pb-ssv {
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-image-pb-ssv {
    /* width: 70px;
    height: 70px; */
    width: 100%;
    height: 150px;
}

.product-detail-block-pb-ssv {
    /* width: calc(100% - 80px);
    padding-left: 10px; */
    padding-top: 8px;
    width: 100%;
}

.product-image-pb-ssv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px !important;
    border: 1px solid #eee;
    display: block;
}

.product-detail-pb-ssv p {
    margin: 0 0 2px !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px !important;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-detail-pb-ssv section {
    margin: 0 0 2px !important;
    font-size: 14px;
    line-height: 20px !important;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-detail-pb-ssv section * {
    font-size: 14px !important;
    font-weight: normal !important;
}

.product-detail-pb-ssv label {
    margin: 0 !important;
    font-size: 15px;
    font-weight: bold !important;
}

.product-detail-pb-ssv strike {
    margin: 0 0 0 5px !important;
    font-weight: normal !important;
}

.product-detail-pb-ssv span {
    margin: 0px 0 0 5px !important;
    display: inline-block;
    background: #56B280;
    color: #fff;
    padding: 1px 3px 1.5px;
    border-radius: 3px;
    font-size: 13px;
    vertical-align: text-bottom;
    font-weight: normal !important;
}

.product-color-options-pb-ssv {
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
}

.product-color-options-pb-ssv p {
    margin: 0 0 5px !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px !important;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-color-option-images-pb-ssv {
    display: block;
    margin: 0;
}

.product-co-image-pb-ssv {
    display: inline-block;
    width: calc((100% / 4) - 15px);
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    vertical-align: top;
}

.product-co-image-pb-ssv div {
    padding-top: 100%;
    position: relative;
}

.product-co-image-pb-ssv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px !important;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 5px;
}

.product-co-image-pb-ssv label {
    display: block;
    margin: 0 !important;
    font-size: 14px;
    text-align: center;
}

.product-co-image-pb-ssv span {
    font-size: 15px;
    text-align: center;
    display: block;
    position: absolute;
    top: calc(50% - 12px);
    width: 100%;
}

.product-co-image-sm-pb-ssv {
    display: none;
}

.product-addtocart-pb-ssv {
    border: 2px solid #323232;
    background: none;
    border-radius: 8px !important;
    padding: 8px 8px !important;
    font-size: 15px !important;
    width: calc(50% - 35px);
    height: 40px !important;
    outline: none;
    color: #323232 !important;
    vertical-align: top;
    margin: 0 !important;
}

.product-buynow-pb-ssv {
    border: none;
    border-radius: 8px !important;
    padding: 10px 8px !important;
    font-size: 15px !important;
    width: calc(50% - 35px);
    outline: none;
    height: 40px !important;
    background: #6251c4;
    color: #fff;
    vertical-align: top;
    margin: 0 !important;
    margin-left: 5px !important;
}

.product-cart-pb-ssv {
    border: 2px solid #323232;
    background: none;
    border-radius: 8px !important;
    padding: 8px 8px !important;
    font-size: 16px !important;
    width: 50px !important;
    height: 40px !important;
    outline: none;
    color: #323232 !important;
    vertical-align: top;
    position: relative;
    margin: 0 !important;
    margin-left: 5px !important;
}

.cart-count-ssv {
    background: #6251c4;
    height: 20px;
    line-height: 20px !important;
    width: 20px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 10px;
}

.product-cart-pb-ssv svg {
    height: 20px;
}

.product-desc-pb-ssv {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.product-desc-pb-ssv p {
    margin: 0 0 5px !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px !important;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-desc-pb-ssv li {
    margin: 0 0 2px !important;
    font-size: 15px;
    list-style: none;
    line-height: 23px !important;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    display: none !important;
}

.product-desc-pb-ssv section {
    font-size: 15px !important;
    margin: 0 0 15px !important;
    font-weight: normal !important;
}

.product-desc-pb-ssv section * {
    font-size: 15px !important;
    font-weight: normal !important;
}

.product-quantity-pb-ssv {
    padding: 10px 12px;
    border-bottom: 1px solid #eee;
    display: flex;
    width: 100%;
}

.product-quantity-title-pt-ssv {
    width: calc(100% - 135px);
}

.product-quantity-title-pt-ssv p {
    margin: 0 !important;
    height: 35px;
    line-height: 35px !important;
    font-size: 15px;
}

.product-quantity-inp-pb-ssv {
    width: 135px;
}

.product-quantity-inp-pb-ssv button {
    background: #eaeaea;
    border: none;
    outline: none;
    height: 35px !important;
    line-height: 35px !important;
    width: 35px !important;
    font-size: 22px !important;
    color: #323232 !important;
    vertical-align: top;
    padding: 0 !important;
    margin: 0 !important;
}

.product-quantity-inp-pb-ssv input {
    height: 35px;
    background: #eaeaea;
    border: none;
    vertical-align: top;
    width: 50px !important;
    padding: 6px;
    font-size: 16px;
    text-align: center !important;
    outline: none;
    margin: 0 !important;
}

.video-modal-alert-ssv {
    display: none;
    position: absolute;
    left: calc(50% - 100px);
    bottom: 50%;
    color: #fff !important;
    width: 200px !important;
    text-align: center;
    background: #00000080;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 0 !important;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.5);
    z-index: 5;
}

.modal-loader-ssv {
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 121100;
    align-items: center;
    display: none;
}

.modal-loader-ssv img {
    display: block !important;
    margin: 0 auto !important;
    width: 160px !important;
}

.modal-loader-inner-ssv {
    border: 5px solid #ffffff;
    border-top: 5px solid #6251c4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spinssv 2s linear infinite;
    margin: 0 auto;
}

.video-modal-video-loader-ssv {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    display: none;
    background: rgb(0, 0, 0, .8);
    z-index: 1;
}

.video-modal-video-loader-ssv img {
    display: block !important;
    margin: 0 auto !important;
    width: 160px !important;
}

.video-modal-video-controls-ssv {
    background: rgb(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
}

/* .video-modal-video-controls-inner-ssv {
    width: 100%;
} */

.video-controls-ssv {
    display: flex;
    width: 200px;
    margin: 0 auto;
}

.video-rewind-ssv,
.video-playpause-ssv,
.video-forward-ssv {
    display: block !important;
    margin: 0 auto;
    cursor: pointer;
    width: 30px !important;
}

.video-playpause-ssv {
    width: 50px !important;
}

.video-progress-ssv {
    padding: 0 40px;
    position: absolute;
    left: 0;
    top: calc(50% + 25px);
    width: 100%;
}

.video-progress-ssv progress {
    height: 4px !important;
    border: none !important;
    width: 200px;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-appearance: none;
}

.video-progress-ssv progress::-webkit-progress-bar {
    background-color: #ffffff;
}

.video-progress-ssv progress::-webkit-progress-value {
    background-color: #6251c4;
}

.video-progress-ssv progress::-moz-progress-bar {
    background-color: #6251c4;
}

@keyframes spinssv {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.video-modal-share-modal-ssv {
    position: fixed;
    top: calc(50% - 80px);
    left: 0;
    width: calc(100% - 20px);
    background: #fff;
    padding-bottom: 40px;
    text-align: center;
    z-index: 2;
    margin: 0 10px;
    display: none;
}

.video-modal-share-modal-top-ssv {
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    position: relative;
    margin-bottom: 40px;
}

.video-modal-share-modal-top-ssv img {
    height: 30px;
    display: block;
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
    filter: invert(1);
    margin: 0 !important;
}

.video-modal-share-modal-top-ssv p {
    margin: 0 !important;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.video-modal-share-modal-ssv a {
    cursor: pointer;
}

.video-modal-share-modal-social-ssv {
    display: inline-block !important;
    width: 40px;
    margin: 0 5px;
}

.video-modal-swipe-up-ssv {
    display: block !important;
    width: 180px;
    height: 180px;
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 90px);
    object-fit: contain;
}

.video-views-count-top-ssv {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ab12209c;
    padding: 3px 5px;
    border-radius: 3px;
    margin: 0 !important;
}

.video-views-count-top-ssv p {
    font-size: 14px;
    height: 14px;
    line-height: 16px !important;
    margin: 0 !important;
    color: #fff !important;
}

.video-views-count-top-ssv p img {
    margin: 0 !important;
    height: 16px !important;
    vertical-align: top;
    margin-right: 1px !important;
    display: inline-block !important;
    width: auto !important;
}

.video-timer-top-ssv {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(0, 0, 0, 0.3);
    padding: 3px 5px;
    border-radius: 3px;
    margin: 0 !important;
}

.video-timer-top-ssv p {
    margin: 0 !important;
    color: #fff !important;
    font-size: 14px;
    height: 16px;
    line-height: 16px !important;
}

.product-on-carousel-ssv {
    position: absolute;
    bottom: 0;
    background: #fff;
    display: block;
    width: 100% !important;
    padding: 10px;
    min-height: 125px;
    margin: 0 !important;
}

.product-on-carousel-ssv img {
    width: 60px !important;
    height: 60px !important;
    object-fit: cover !important;
    display: block;
    margin: 0 auto !important;
    -webkit-box-shadow: rgb(35 35 35 / 30%) 1px 1px 5px 1px;
    -moz-box-shadow: rgb(35 35 35 / 30%) 1px 1px 5px 1px;
    box-shadow: rgb(35 35 35 / 30%) 1px 1px 5px 1px;
    border-radius: 5px !important;
    margin-top: -40px !important;
    background-color: #fff !important;
}

.product-on-carousel-ssv h6 {
    margin: 0 !important;
    background-color: #6251c4;
    height: 25px !important;
    width: 25px !important;
    line-height: 24px !important;
    text-align: center !important;
    display: inline-block !important;
    border-radius: 50%;
    color: #fff !important;
    font-size: 12px !important;
    position: absolute;
    left: calc(50% - 12.5px);
    top: -42.5px;
    margin-left: 30px !important;
    font-weight: bold !important;
    letter-spacing: normal !important;
}

.product-on-carousel-ssv p {
    height: 44px;
    display: -webkit-box;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    font-weight: 600;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0 !important;
    margin-top: 12px !important;
    margin-bottom: 8px !important;
    line-height: 22px !important;
}

.product-on-carousel-ssv label {
    font-size: 18px;
    margin: 0 !important;
    color: #323232 !important;
    height: 55px;
    font-weight: bold;
    display: block;
    text-align: center;
    /* overflow: hidden; */
    line-height: 27px;
}

.product-on-carousel-ssv label strike {
    font-size: 16px;
    font-weight: normal !important;
    margin-left: 3px;
}

.product-on-carousel-ssv label span {
    margin: 0px 0 0 5px !important;
    display: inline-block;
    background: #56B280;
    color: #fff;
    padding: 1px 3px 1.5px;
    border-radius: 3px;
    font-size: 14px;
    vertical-align: text-bottom;
    font-weight: normal !important;
    line-height: normal;
}

/* PIP */

.video-pip-ssv {
    height: auto;
    overflow: hidden;
    width: 250px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 10px;
    z-index: 121100;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    display: none;
}

.video-pip-ssv video {
    height: auto !important;
    width: 100% !important;
    display: block !important;
}

.video-pip-video-loader-ssv {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, .5);
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 12;
    display: none;
}

.video-pip-video-loader-ssv img {
    width: 100% !important;
    height: 90px !important;
    object-fit: contain !important;
}

.video-pip-playpause-ssv {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    background: rgb(0, 0, 0, .6) !important;
    display: none;
}

.video-pip-playpause-ssv img {
    margin: 0 auto !important;
    width: 30px !important;
    display: block !important;
}

.video-pip-volume-ssv {
    position: absolute;
    top: 10px;
    right: 40px;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 0, 0, .6) !important;
}

.video-pip-volume-ssv img {
    margin: 0 auto !important;
    width: 70% !important;
    margin-top: 1px !important;
    display: block !important;
}

.video-pip-close-ssv {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 0, 0, .6) !important;
}

.video-pip-close-ssv img {
    margin: 0 auto !important;
    width: 90% !important;
    display: block !important;
}

.video-pip-fullscreen-ssv {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    width: 25px;
    height: 18px;
    border: 2.5px solid #fff;
}

/* Rating */

.product-rating-ssv {
    padding: 0;
    padding-bottom: 20px;
}

.product-rating-title-ssv {
    margin: 0 !important;
    padding: 10px 12px;
    font-size: 15px;
    font-weight: bold;
}

.product-rating-title-ssv .starssv {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 9px;
    border-right: 0.3em solid transparent;
    border-bottom: 0.7em solid gold;
    border-left: 0.3em solid transparent;
    font-size: 10px;
}

.product-rating-title-ssv .starssv::after,
.product-rating-title-ssv .starssv::before {
    content: '';

    display: block;
    width: 0;
    height: 0;

    position: absolute;
    top: .6em;
    left: -1em;

    border-right: 1em solid transparent;
    border-bottom: .7em solid gold;
    border-left: 1em solid transparent;

    transform: rotate(-35deg);
}

.product-rating-title-ssv .starssv::after {
    transform: rotate(35deg);
}

.product-rating-all-btn-ssv {
    float: right;
    font-weight: normal;
    cursor: pointer;
}

.product-rating-comments-ssv {
    padding: 0 12px;
}

.product-rating-comments-ssv div {
    background: #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.product-rating-comments-ssv p {
    margin: 0 !important;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px !important;
}

.product-rating-comments-ssv section {
    font-weight: normal;
    font-size: 14px;
}

.product-rating-all-ssv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateY(110%);
    transition: transform .5s;
}

.product-rating-all-title-ssv {
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    position: relative;
}

.product-rating-all-title-ssv p {
    margin: 0 !important;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.product-rating-all-close-ssv {
    height: 20px;
    display: block;
    position: absolute;
    top: 12px;
    cursor: pointer;
}

.product-rating-all-comments-ssv {
    height: calc(100% - 100px);
    padding: 10px 15px;
    padding-top: 0;
    overflow-y: scroll;
    position: relative;
    padding-bottom: 20px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* .product-rating-all-comments-ssv::-webkit-scrollbar {
    display: none;
} */

.product-rating-all-comments-ssv div {
    margin: 0;
    margin-top: 15px;
}

.product-rating-all-comments-ssv p {
    margin: 0 !important;
    margin-bottom: 3px !important;
    font-weight: bold;
    font-size: 15px !important;
}

.product-rating-all-comments-ssv section {
    font-size: 14px;
    margin: 0 !important;
}

/* Ask que */
.video-modal-askque-modal-ssv {
    position: fixed;
    top: calc(50% - 100px);
    left: 0;
    width: calc(100% - 20px);
    background: #fff;
    text-align: center;
    z-index: 2;
    margin: 0 10px;
    display: none;
}

.video-modal-askque-modal-top-ssv {
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    position: relative;
}

.video-modal-askque-modal-top-ssv img {
    height: 30px;
    display: block;
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
    filter: invert(1);
    margin: 0 !important;
}

.video-modal-askque-modal-top-ssv p {
    margin: 0 !important;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.askque-modal-form-ssv {
    display: none;
    padding: 10px 15px 20px;
}

.askque-modal-form1-ssv {
    display: block;
}

.video-modal-askque-modal-ssv textarea {
    font-size: 15px !important;
    width: 100% !important;
    display: block !important;
    border: none !important;
    background: #eee !important;
    padding: 10px 12px !important;
    border-radius: 5px !important;
    outline: none !important;
    margin: 0 !important;
    margin-top: 8px !important;
}

.video-modal-askque-modal-ssv input {
    font-size: 15px !important;
    width: 100% !important;
    display: block !important;
    border: none !important;
    background: #eee !important;
    padding: 10px 12px;
    border-radius: 5px !important;
    outline: none !important;
    margin: 0 !important;
    margin-top: 8px !important;
}

.video-modal-askque-modal-ssv .iti {
    width: 100%;
}

.video-modal-askque-modal-ssv button {
    background: #6251c4;
    color: #fff;
    padding: 10px 12px !important;
    border: none !important;
    font-size: 15px !important;
    border-radius: 5px !important;
    margin: 0 !important;
    margin-top: 10px !important;
    width: 100% !important;
    display: block !important;
}

/* Heart flaws */
div.SWIRLhearts {
    /* width: 50px;
    height: 200px;
    position: absolute;
    bottom: 370px;
    right: 5px; */
    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 25px;
    right: 0;
}

div.SWIRLheart {
    width: 30px;
    height: 30px;
    opacity: 1;
    position: absolute;
    bottom: 0;
    display: none;
}

div.SWIRLheart span {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
}

div.SWIRLheart span::after {
    content: '\2764';
    display: block;
}

.colOne {
    color: #fce473;
}

.colTwo {
    color: #f68b39;
}

.colThree {
    color: #ed6c63;
}

.colFour {
    color: #847bb9;
}

.colFive {
    color: #97cd76;
}

.colSix {
    color: #35b1d1;
}

.colOne,
.colTwo,
.colThree,
.colFour,
.colFive,
.colSix {
    color: #f55567;
}

@keyframes flowOne {
    0% {
        opacity: 0;
        bottom: 0;
        left: 14%
    }

    40% {
        opacity: .8;
    }

    50% {
        opacity: 1;
        left: 0;
    }

    60% {
        opacity: .2;
    }

    80% {
        bottom: 80%
    }

    100% {
        opacity: 0;
        bottom: 100%;
        left: 18%
    }
}

@keyframes flowTwo {
    0% {
        opacity: 0;
        bottom: 0;
        left: 0;
    }

    40% {
        opacity: .8;
    }

    50% {
        opacity: 1;
        left: 11%
    }

    60% {
        opacity: .2;
    }

    80% {
        bottom: 60%
    }

    100% {
        opacity: 0;
        bottom: 80%;
        left: 0;
    }
}

@keyframes flowThree {
    0% {
        opacity: 0;
        bottom: 0;
        left: 0;
    }

    40% {
        opacity: .8;
    }

    50% {
        opacity: 1;
        left: 30%
    }

    60% {
        opacity: .2;
    }

    80% {
        bottom: 70%
    }

    100% {
        opacity: 0;
        bottom: 90%;
        left: 0;
    }
}

.video-modal-product-block-list-ssv {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.video-modal-product-block-list-ssv::-webkit-scrollbar {
    display: none;
}

.video-modal-product-block-product-ssv {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    transition: transform .5s;
}

.product-list-block-ssv {
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.product-list-block-image-ssv {
    width: 70px;
    height: 70px;
}

.product-list-block-detail-ssv {
    width: calc(100% - 100px);
    padding-left: 10px;
}

.product-list-block-image-ssv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px !important;
    border: 1px solid #eee;
}

.product-list-block-detail-ssv p {
    margin: 0 0 2px !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px !important;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-list-block-detail-ssv section {
    margin: 0 0 2px !important;
    font-size: 14px;
    line-height: 20px !important;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-list-block-detail-ssv section * {
    font-size: 14px !important;
    font-weight: normal !important;
}

.product-list-block-detail-ssv label {
    margin: 0 !important;
    font-size: 15px;
    font-weight: bold !important;
}

.product-list-block-detail-ssv strike {
    margin: 0 0 0 5px !important;
    font-weight: normal !important;
}

.product-list-block-detail-ssv span {
    margin: 0px 0 0 5px !important;
    display: inline-block;
    background: #56B280;
    color: #fff;
    padding: 1px 3px 1.5px;
    border-radius: 3px;
    font-size: 13px;
    vertical-align: text-bottom;
    font-weight: normal !important;
}

.product-list-block-open-ssv {
    width: 30px;
}

.product-list-block-open-ssv img {
    width: 10px;
    margin: 0 0 0 15px !important;
    transform: rotate(180deg);
    cursor: pointer;
}

.video-modal-product-block-inner-ssv {
    position: relative;
    height: 100%;
    width: 100%;
}

.product-top-pb-multi-ssv {
    display: block !important;
}

.video-modal-fade-ssv {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000060;
    z-index: 1;
    display: none;
}

.video-modal-np-img-ssv {
    display: none !important;
}

.video-modal-askque-modal-ssv input:-webkit-autofill,
.video-modal-askque-modal-ssv textarea:-webkit-autofill,
.video-modal-askque-modal-ssv select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #eee inset !important;
    background: #eee !important;
    -webkit-text-fill-color: #323232 !important;
}

.video-redirect-btn-ssv {
    position: absolute;
    bottom: -60px;
    left: calc(50% - 25%);
    border: none;
    border-radius: 8px !important;
    padding: 10px 8px !important;
    font-size: 15px !important;
    width: 50%;
    outline: none;
    height: 40px !important;
    background: #6251c4;
    color: #fff;
    margin: 0 !important;
}

.CodeMirror {
    display: none !important;
    opacity: 1 !important;
    transition: none !important;
    width: 0 !important;
    height: 0 !important;
}

.video-modal-actions-ssv {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.video-modal-actions-ssv button {
    display: inline-block !important;
    vertical-align: top;
    margin: 0 !important;
    margin-left: 5px !important;
}

.video-modal-actions-top-ssv {
    position: absolute;
    right: 15px;
    top: 15px;
}

.video-modal-actions-top-ssv button {
    display: inline-block !important;
    vertical-align: top;
    margin: 0 !important;
    margin-left: 5px !important;
}

/* Product tile slider swiper */
.sw-button-next,
.sw-button-prev {
    position: absolute;
    top: calc(50% - 15px);
    z-index: 1;
    height: 30px;
    width: 30px;
    background: #00000050;
    border-radius: 50%;
}

.sw-button-next {
    right: 10px;
}

.sw-button-prev {
    left: 10px;
}

.sw-button-next img,
.sw-button-prev img {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;
}

.swiper-ssv-pt .swiper-slide-pt {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

/* On tile CTA */
.ontile-cta-ssv {
    width: 100%;
    display: flex;
    margin-top: 6px;
}

.ontile-addtocart-ssv {
    border: 2px solid #323232;
    background: none;
    border-radius: 4px !important;
    padding: 1px 4px !important;
    font-size: 12px !important;
    width: calc(50% - 3px);
    height: 26px !important;
    line-height: 20px !important;
    outline: none;
    color: #323232 !important;
    vertical-align: top;
    margin: 0 !important;
    margin-right: 6px !important;
    text-align: center !important;
}

.ontile-buynow-ssv {
    border: none;
    border-radius: 4px !important;
    padding: 3px 4px !important;
    font-size: 12px !important;
    width: calc(50% - 3px);
    outline: none;
    height: 26px !important;
    line-height: 20px !important;
    background: #6251c4;
    color: #fff;
    vertical-align: top;
    margin: 0 !important;
    text-align: center !important;
}

/* Cart success popup */
.video-modal-cart-popup-ssv {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #00000060;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.cart-popup-flex-ssv {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.cart-popup-wraper-ssv {
    background: #fff;
    width: calc(100% - 30px);
    margin: 0 15px;
    border-radius: 10px;
    padding: 10px;
}

.video-modal-cart-popup-ssv img {
    filter: invert(1);
    display: block !important;
    float: right !important;
    width: 25px !important;
    margin-top: -6px !important;
    cursor: pointer;
}

.video-modal-cart-popup-ssv p {
    font-size: 17px !important;
    margin: 0 !important;
    padding: 30px 10px 15px !important;
    font-weight: bold !important;
}

.video-modal-cart-popup-action-ssv {
    display: flex;
    width: 100%;
    margin: 15px 0 10px;
    padding: 0 10px;
}

.popup-cart-btn-ssv {
    border: 2px solid #323232;
    background: none;
    border-radius: 4px !important;
    padding: 1px 10px !important;
    font-size: 15px !important;
    width: calc(50% - 3px);
    height: 40px !important;
    line-height: 36px !important;
    outline: none;
    color: #323232 !important;
    vertical-align: top;
    margin: 0 !important;
    margin-right: 6px !important;
    text-align: center !important;
}

.popup-shopping-btn-ssv {
    border: none;
    border-radius: 4px !important;
    padding: 3px 10px !important;
    font-size: 15px !important;
    width: calc(50% - 3px);
    outline: none;
    height: 40px !important;
    line-height: 36px !important;
    background: #6251c4;
    color: #fff;
    vertical-align: top;
    margin: 0 !important;
    text-align: center !important;
}

.no-product-ssv {
    display: flex;
    align-items: center;
}

.video-modal-top-fade {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 212, 255, 0) 5%, rgba(0, 0, 0, 0.7) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.video-modal-bottom-fade {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 5%, rgba(0, 212, 255, 0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

/* Product - ask tab */
.video-modal-product-tabs-ssv {
    padding: 10px 0px;
    width: calc(100% - 30px);
    display: flex;
    border-bottom: 1px solid #ddd;
    margin: 0 15px;
}

.vmp-tab-ssv {
    font-size: 15px;
    color: #323232;
    padding: 5px 12px;
    border-radius: 5px;
    margin-right: 10px;
}

.vmp-tab-ssv.open {
    color: #fff;
    background: #6251c4;
}

.vmp-tab-content-ssv {
    height: calc(100% - 50px);
    position: relative;
}

.vmp-tab-content-ssv.scroll-ssv {
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.ask-question-tab-ssv {
    padding: 10px 15px;
}

.ask-question-tab-ssv textarea {
    font-size: 15px !important;
    width: 100% !important;
    display: block !important;
    border: none !important;
    background: #eee !important;
    padding: 10px 12px !important;
    border-radius: 5px !important;
    outline: none !important;
    margin: 0 !important;
    margin-top: 8px !important;
}

.ask-question-tab-ssv button {
    background: #6251c4;
    color: #fff;
    padding: 10px 12px !important;
    border: none !important;
    font-size: 15px !important;
    border-radius: 5px !important;
    margin: 0 !important;
    margin-top: 10px !important;
    width: 100% !important;
    display: block !important;
}

/* User registration popup */
.user-registration-popup-ssv {
    position: fixed;
    width: calc(100% - 30px);
    top: calc(50% - 105px);
    left: 0;
    background: #fff;
    transition: transform .5s;
    z-index: 2;
    margin: 15px;
    /* border-radius: 10px; */
    overflow: hidden;
    display: none;
}

.urp-top-ssv {
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    position: relative;
}

.urp-top-ssv img {
    height: 30px;
    display: block;
    position: absolute;
    right: 12px;
    top: 5px;
    cursor: pointer;
    filter: invert(1);
}

.urp-top-ssv p {
    margin: 0 !important;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.urp-form-ssv {
    padding: 10px 15px 20px;
}

.user-registration-popup-ssv input {
    font-size: 15px !important;
    width: 100% !important;
    display: block !important;
    border: none !important;
    background: #eee !important;
    padding: 10px 12px;
    border-radius: 5px !important;
    outline: none !important;
    margin: 0 !important;
    margin-top: 8px !important;
}

.user-registration-popup-ssv .iti {
    width: 100%;
}

.user-registration-popup-ssv button {
    background: #6251c4;
    color: #fff;
    padding: 10px 12px !important;
    border: none !important;
    font-size: 15px !important;
    border-radius: 5px !important;
    margin: 0 !important;
    margin-top: 10px !important;
    width: 100% !important;
    display: block !important;
}

@media (max-width: 768px) {

    .product-on-carousel-ssv label,
    .product-on-carousel-ssv label strike,
    .product-on-carousel-ssv label span {
        font-size: 14px;
    }

    .product-detail-pt-ssv label,
    .product-detail-pt-ssv label strike,
    .product-detail-pt-ssv label span {
        font-size: 12px;
    }

    /* .video-modal-pb-close-ssv {
        margin: 0 auto !important;
        transform: rotate(-90deg);
    } */
}

@media (min-width: 1080px) {

    /* Notebook view */
    .swiper-ssv-m {
        height: auto;
        width: auto;
    }

    .video-modal-container-ssv {
        width: 100%;
        display: flex;
        align-items: center;
        /* padding: 60px 0; */
    }

    .video-modal-container-ssv video {
        width: 100%;
        height: auto;
    }

    /* .swiper-ssv-m .swiper-button-next,
    .swiper-ssv-m .swiper-button-prev {
        display: block !important;
    } */

    .video-modal-video-container-ssv {
        width: 55%;
        height: auto;
        overflow: visible;
        transform: translateX(-25%);
    }

    .video-modal-product-block-ssv {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        transform: translateX(100%);
    }

    .product-top-pb-ssv {
        display: none;
    }

    /* .product-middle-pb-ssv {
        height: calc(100% - 60px);
    } */

    .video-modal-swipe-up-ssv {
        display: none !important;
    }

    .video-modal-np-img-ssv {
        display: block !important;
        position: absolute;
        height: 50vh;
        z-index: -1;
        opacity: 0.8;
        top: calc(50% - 25vh);
    }

    .p-img-ssv {
        left: 185px;
    }

    .n-img-ssv {
        right: 185px;
    }

    .video-modal-share-modal-ssv,
    .video-modal-askque-modal-ssv,
    .user-registration-popup-ssv {
        margin: 0;
        width: 380px;
        left: calc(50% - 190px);
    }

    .cart-popup-flex-ssv {
        width: 380px;
        margin: 0 auto;
    }

    .video-modal-cart-popup-ssv {
        position: absolute;
    }

    div.SWIRLhearts {
        height: 180px;
    }

    .video-modal-actions-ssv .video-modal-fullscreen-ssv {
        display: none !important;
    }

    .video-redirect-btn-ssv {
        width: 200px;
        bottom: 15px;
        left: calc(50% - 100px);
    }

    .video-modal-alert-ssv {
        bottom: 70%;
    }

    .video-modal-product-tabs-ssv {
        display: none;
    }

    .vmp-tab-content-ssv {
        height: 100%;
    }
}

@media (max-width: 1079px) {
    .video-modal-fade-ssv {
        z-index: 3;
        height: 100vh;
    }

    .video-modal-share-modal-ssv,
    .video-modal-askque-modal-ssv,
    .user-registration-popup-ssv {
        z-index: 3;
    }

    .swiper-ssv-m .swiper-button-next {
        width: 40px;
        height: 40px;
        right: 5px;
    }

    .swiper-ssv-m .swiper-button-prev {
        width: 40px;
        height: 40px;
        left: 5px;
    }

    .video-modal-actions-top-ssv button,
    .video-modal-actions-ssv button {
        width: 25px;
    }
}

@media (min-width: 1366px) {
    .video-modal-video-container-ssv {
        width: 65%;
        transform: translateX(-17.5%);
    }

    .video-modal-product-block-ssv {
        width: 35%;
    }
}

@media (min-width: 768px) and (max-height: 680px) {
    .video-modal-container-ssv {
        /* padding: 20px 0; */
    }

    .product-addtocart-pb-ssv,
    .product-buynow-pb-ssv {
        font-size: 13px !important;
    }
}

@media (max-width: 1079px) {
    .video-modal-container-ssv {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .video-modal-container-ssv {
        width: 80%;
    }
}

@media (max-width: 680px) {
    .video-modal-container-ssv {
        width: 100%;
    }
}

/* Important CSS */
.no-product-ssv .video-modal-video-container-ssv {
    transform: translateX(0%);
}

.no-product-ssv .video-modal-product-block-ssv {
    display: none !important;
}




.rotateOn-ssv {
    display: flex;
    align-items: center;
}

.rotateOn-ssv .video-modal-video-container-ssv {
    transform: rotate(90deg);
    min-height: 100vw;
    min-width: 100vh;
    height: 100vw;
    width: 100vh;
    overflow: hidden;
    position: absolute;
    left: calc(-50%);
}

.rotateOn-ssv .video-modal-video-container-ssv video {
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    .no-product-ssv .video-modal-video-container-ssv {
        border-radius: 5px;
        overflow: hidden;
    }
}

/* SHOPIFY */
.iti--container {
    z-index: 1212;
}

.rte--indented-images img:not([style]),
.rte--indented-images img[style="float: none;"] {
    margin-left: 0 !important;
}